<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.atcrowdfunding.dao.UserMapper">
    <select id="getUserByAccountUserpassword" resultType="user">
        select * from t_user where account=#{account} and userpassword=#{userpassword}
    </select>
    <select id="pageQueryData" resultType="user">
        select * from t_user where account like #{account} order by createtime desc limit #{start},#{size}
    </select>
    <select id="pageQueryCount" resultType="int">
        select count(*) from t_user where account like #{account}
    </select>
    <insert id="insertUser">
        insert into t_user(account,username,userpassword,email,createtime) values(#{account},#{username},#{userpassword},#{email},#{createtime})
    </insert>
    <update id="updateUser">
        update t_user set account=#{account},username=#{username},email=#{email} where id=#{id}
    </update>
    <delete id="deleteUser">
        delete from t_user where id=#{id}
    </delete>
    <delete id="deleteUsers">
        delete from t_user where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>